*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-size: cover;  
    overflow-x: hidden;
    background-color: blanchedalmond;

}
.head{
    display: flex;
    width: 100vw;
    height: 12vw;
    background-color: white;
    justify-content: space-evenly;
}

.head #head-first{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.head #head-filler{
    margin-top: 2%;
    color: rgb(4, 4, 117);
    justify-content: center;
    text-align: center;
    width:max-content;
}
#clg-name{
    font-size: 2.5vw;
    font-weight: bold;
    margin: 1% 0;
}
#Affilation{
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1%;
}
.head #head-last{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media(max-width : 765px){
    .head #head-filler #clgname{
        font-size: 1.8vw;
    }
    .head #head-filler #Affilation{
        font-size: 1vw;
    }
}

@media(max-width : 1025px){
    .head #head-last{
        display:none
    }
    .head #head-filler #clgname{
        font-size: 8vw;
    }
    .head #head-filler #Affilation{
        font-size: 2.2vw;
    }
}

#navbarNavDropdown{
    display: flex;
    justify-content: space-evenly;
    text-align: center; 
}
.collapse{
    background-color: #03093f;
    display: flex;
    justify-content: space-evenly;
}
#navbarNavDropdown a{
    color: beige;
    font-size: 15px;
    font-weight: 600;
}
